<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yullg.android.scaffold">

    <application>

        <activity
            android:name=".core.OnePixelKeepAliveActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true" />

        <provider
            android:name=".internal.ScaffoldFileProvider"
            android:authorities="${applicationId}.yullg.scaffoldfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/yg_scaffoldfileprovider_paths" />
        </provider>

    </application>

</manifest>